.cat-select{
  border-radius: 0 !important;
}
.mtl_product_item{
  height: 340px !important;
}
h2.mtl_product_price{
  font-size: 14px !important;
}
.select2-container--default .select2-selection--single{
  height: 40px !important;
}
.countdown .countdown-item {
  display: inline-block;
}

.countdown .countdown-digit,
.countdown .countdown-label {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.countdown .countdown-label {
  font-size: 1.2rem;
  padding: 0 10px;
}

.countdown-sm .countdown-digit,
.countdown-sm .countdown-label {
  font-size: 1.4rem;
}

.countdown-sm .countdown-label {
  font-size: 0.875rem;
  padding: 0 10px;
}

[data-countdown-label="hide"] .countdown-label:not(.countdown-days) {
  display: none;
}

[data-countdown-label="show"] .countdown-separator {
  display: none;
}

.countdown--style-1 .countdown-item {
  margin-right: 5px;
}

.countdown--style-1 .countdown-item:last-child {
  margin-right: 0;
}

.countdown--style-1 .countdown-digit {
  display: block;
  width: 40px;
  height: 40px;
  background: #af0b0b;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  font-family: "Open Sans", sans-serif;

}

.countdown--style-1 .countdown-label {
  display: block;
  margin-top: 0px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.countdown--style-1-v1 .countdown-digit {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.item-black{
  color: #000;
  font-size: 17px !important;
  font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.cat-feature-bg{
  padding: 24px 20px 0 !important;
    font-size: 19px !important;
    color: #fff !important;
    width: 210px !important;
    font-weight: 900 !important;
    font-family: "Open Sans", sans-serif !important;
    overflow: hidden !important;
    
    background: #000;
    opacity: 0.9;
    border-radius: 0px 5px 5px 0px !important;

}
.empty-record{
  color: #000;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}
.checkbox-alphanumeric input:checked ~ label{
  border: 1px solid #ff0000;
}
.fw1_text_wrap{
  line-height: 1 !important;
}
.ali-award-color .ali-award-color-item ul li{
  margin-right: 0px !important;
}
.checkbox-color input:checked ~ label:after {
    content: "\f17b" !important;
    font-family: "LineAwesome" !important;
}
.quantity .minus-btn1, .quantity .plus-btn1{
  background: #c5c5c5 !important; 
}
.quantity button{
  height: 30px !important;
  width: 30px !important;
  background: #ff4747 !important;
}
.quantity input{
  border: none !important;
  width: 50px !important ;
  height: 30px !important;
  color: #2e9cc3 !important;
  font-size: 14px !important;
}
.shopping-cart-img{
  height: 100px !important;
  width: 100px !important;
  margin-right: 10px !important;
}
.shopping-cart-para{
  width: 500px !important;
}
.shopping-cart-para p{
  width: 495px !important;
  overflow: hidden !important;
}
.product_price, .product_price_ts,.mtl_product_price,.product-price,.top-sell-price{
  color: #ef4545 !important;
}
.empty-cart{
  color: #000 ;
  font-weight: 600px;
  font-family: 'Open Sans', sans-serif;
}
.shopping-empty a{
  color: #2e9cc3 !important;
  text-decoration: none !important;
  font-size: 17px !important;
  font-family: 'Open Sans', sans-serif;

}
.shopping-empty p{
  text-decoration: none !important;
  font-size: 17px !important;
  font-family: 'Open Sans', sans-serif;
}
.banner-wrapper{
    background: #FF4747 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.wrapper1{
    background: none !important;
    padding-top: 0px !important;
    margin-left: 289px !important;
}
.wrapper1 .nav li a{
    color: #fff !important;
}
.nicemenu{
    border-radius: 8px;
}
.rank-left{
   padding-right: 0px !important; 
}
.rank-right{
    padding-left: 0px !important;
}
.top-rank-section{
    background: url('../img/top_rankings.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    
}
.bottom-slider-left h3{
    font-size: 20px !important;
    color: #000 !important;
    padding: 14px 0 !important;
    margin: 0px !important;
    
}
.bottom-slider-left p{
    color: #000 !important;
}
.top-rank-section a{
    color: #ff831c;
    padding: 10px 15px;
    font-size: 17px;
    font-weight:700;
}
.bottom-slider-right{
    height: 180px;
    background: #fff !important;
    border-radius: 0px 8px 8px 0px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded{
    height: 100%;
}
.owl-carousel .owl-stage-outer,.owl-carousel.owl-drag .owl-item{
    height: 100% !important;
}
.owl-stage{
    height: 100% !important;
}
.owl-moritemes a{
    text-decoration: none !important;
    color: #000 !important;
}
.link-section{
    padding: 30px 0px !important;
}
.feature-category,.link-section{
    background: #ff4747 !important;
}
.shadow-sm{
  height: 50px;
  padding: 11px;
  border-radius: 82px;
  background-color: #f2f2f2;

}
.d_cat_item{
  height: 270px !important;
}
.d_cat_item h2{
  background: #0481a7 !important;
  padding: 14px 12px;
  margin: -4px;
  margin-top: 3px;
  color: #fff !important;
}

.mtl_product_item_img_wrap img{
  height: 80% !important;
}
.mtl_product_item h2{
    
    font-weight: 600;
    font-size: 14px;
    
    border-radius: 0px 0px 5px 5px;
    
}
.pop_rtl_01{
  min-width: 200px;
    padding: 7px 20px;
    font-size: 16px;
    border-radius: 48px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    background-image: linear-gradient( 94deg ,rgb(255, 10, 10) 0%, rgb(255, 117, 57) 100%);
    color: rgb(255, 255, 255);
    flex: auto;
}
.new-d-user{
  height: 100px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.pop-modal-sm{
  max-width: 400px !important;
}
.pop-close{
  position: absolute !important;
  right: 0px !important;
  padding: 5px !important;
  border: 1px solid #ddd !important;
  border-radius: 50px !important;
  font-size: 1rem !important;
  background: #000 !important;
  opacity: 0.5 !important;
  color: #fff !important;
}
.pop-close span{
  line-height:  normal !important;
}
.pop-rtl-header{
  padding: 0 !important;
}
.new-user-disc{
  background-image: linear-gradient( 
94deg
 ,rgb(189 96 0) 0%, rgb(230 2 2) 100%);
  padding: 20px 10px;
  border-radius: 5px;
  color: rgb(255 255 255) ;
  font-weight: 600;
  text-align: center;

}
.pop_rtl_01 .arrow-right{
  float: right;font-size: 23px;
}